<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    </head>

    <body>
        <main id="main-holder">
            {% if error %}
                <p class="error" style="color: #8a0000">{{error}}</p>
            {% endif %}
            {% if user %}
                <p>Hello {{user.username}}. <a href="/logout" id="logout">Logout</a></p>
            {% else %}
            <h1 id="login-header">Login</h1>
            <form id="login-form" action="/login" method="post">
                <input type="text" id="username-field" name="username" class="login-form-field" placeholder="Username">
                <input type="password" id="password-field" name="password" class="login-form-field" placeholder="Password">
                <input type="submit" value="Login" id="login-form-submit">
            </form>
            {% endif %}
        </main>
    </body>
</html>